.post-write .form-post__content {
    width: 100%;
    min-height: 73px;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    color: #B2B4BC;
  }
  
  .post-write .form-post__content-container {
    height: 100%;
  }

  .s-message__writer,
  .s-message__textarea-placeholder {
    background: #FFFFFF;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    color: #767676;
  }
  .s-message__writer-input,
  .s-message__textarea-placeholder-input {
    width: 95%;
  }
  .s-message__writer {
    line-height: 18px;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
  }
