.radio__container {
    margin-bottom: 12px;
  }
  
  .radio__input {
    display: none;
  }
  
  .radio__input:checked + label:before {
    background: #F9F9F9;
    border: 1px solid #FF676B;
  }
  
  .radio__input:checked + label:after {
    width: 12px;
    height: 11px;
    left: 3px;
    background: #FF676B;
    border-radius: 3px;
  }

  .radio__label {
    position: relative;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .radio__label:before,
  .radio__label:after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 17px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
  }
  
  .radio__label:before {
    background: #FFFFFF;
    border: 1px solid #757575;
  }