  .language-level {
    position: relative;
  }
  
.user-lng__language {
  z-index: 10;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.language-level_edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #54595E;
  top: -6px;
  right: -8px;
  cursor: pointer;
  color: #fff;
}
.language-level_edit-icon {
  font-size: 10px;
}

.user-lng__language:not(:last-child) {
  margin-right: 5px;
}

.user-lng .language__study {
  z-index: 20;
}

.user-lng .language__container {
  transition: all .2s;
}

.user-lng .language__container.active {
  margin: 0 33px 10px 0;
}

.user-lng .language__container.active .language__levels {
  left: 26px;
}

.user-lng .language__levels {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 99%;
  height: 99%;
  background: #263337;
  border-radius: 50px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 7px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.user-lng .language__level {
  width: 15px;
  height: 3px;
  background: #DCE2DF;
}

.user-lng .language__level:not(:last-child) {
  margin-bottom: 2px;
}

.user-lng .language__level_active {
  background: #1FC375;
}

/* language delete */
.language_delete {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #54595E;
  top: -6px;
  right: -8px;
}
.language_delete::before, .language_delete::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 11px;
  background: #fff;
  top: 50%;
  left: 50%;
  
}
.language_delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.language_delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}