.filter__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 1 0 33.333%;
            flex: 1 0 33.333%;
  }
  
  .filter__item:not(:last-child) {
    border-right: 1px solid #E0E0E0;
  }

  .filter__btn-text {
    font-weight: 500;
    font-size: 12px;
  }

  .filter__btn svg {
    font-size: 21px;
    margin-right: 12px;
  }
  
  .filter__btn:hover,
  .filter__btn.active {
    background: #b37ba4;
    color: #fff;
  }

  .filter__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
  }