.user__method {
    position: relative;
    margin-right: 10px;
  }
  .user__method,
  .user__method a {
    font-weight: 400;
    color: #2A5885;
    cursor: pointer;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .user_add-friend i {
    margin-right: 5px;
  }