.login__container {
    padding: 13px;
  }
  
  .login__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 13px;
  }
  
  .login__input {
    background: #F9F9F9;
    border: 1px solid #757575;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 0 8px 15px;
    width: 100%;
  }
  
  .login__input-container {
    width: 100%;
  }
  
  .login__input-container:first-child {
    margin-right: 11px;
  }
  
  .login__form_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .login__checkbox-container {
    margin-bottom: 12px;
  }
  
  .login_remember-me {
    display: none;
  }
  
  .login_remember-me:checked + label:before {
    background: #F9F9F9;
    border: 1px solid #FF676B;
  }
  
  .login_remember-me:checked + label:after {
    width: 12px;
    height: 11px;
    left: 3px;
    background: #FF676B;
    border-radius: 3px;
  }
  
  .login__label_remember-me {
    position: relative;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .login__label_remember-me:before,
  .login__label_remember-me:after {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 17px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
  }
  
  .login__label_remember-me:before {
    background: #FFFFFF;
    border: 1px solid #757575;
  }
  
  .login__link {
    display: block;
    font-weight: 400;
    color: #2A5885;
  }
  
  .login__link:not(:last-child) {
    margin-bottom: 7px;
  }
  