.footer {
    grid-area: footer;
    background-color: #757575;
    align-self: end;
  }
  
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 22px 0;
  }
  
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  
  