.ava-upload {
    min-width: 200px;
}
.ava-upload__content {
    display: flex;
}
.ava-upload__title, .ava-form__input-container {
    margin-bottom: 13px;
}
.ava-upload__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ava-upload__btn {
    align-self: flex-end;
    margin-top: 13px;
}
.ava-upload__img {
    width: 95px;
    border: 4px solid #FF676B;
    border-radius: 100px;
}

/* preloader */
.update__ava {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 100;
}