.profile {
    width: 100vw;
    height: 418px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
  }
  
  .profile:hover .background__coverage {
    background: rgba(0, 0, 0, 0.45)
  }
  /* .profile:hover {
    background: rgba(0, 0, 0, 0.45);
  } */
  
  .profile:hover .profile__top {
    top: 0;
  }
  
  .profile:hover .profile__bottom {
    bottom: 0;
  }

  .profile__container {
    height: 100%;
    padding: 27px 41px 26px 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  
  .profile__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .profile .user-lng {
    /* display: block; */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 331px;
  }

  .profile__adding-lng {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

/* coverage */
.background__coverage {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: all .3s;
}