.auth__container {
    padding: 13px;
  }
  .auth__section-row {
    margin-bottom: 13px;
  }
  
  .auth__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth__inputs .input__container:not(:last-child), 
  .auth__selects .select__container:not(:last-child) {
    margin-right: 7px;
  }
  
  .auth__form_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .auth__link {
    display: block;
    font-weight: 400;
    color: #2A5885;
  }
  
  .auth__link:not(:last-child) {
    margin-bottom: 7px;
  }
  .auth__selects {
    display: flex;
    justify-content: space-between;
  }

/* auth__date-time */
.auth__date-time input {
  display: flex;
  justify-content: flex-start;
  max-width: 30%;
  font-size: 16px;
}