.users__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  
  .users__header-title:not(:last-child) {
    margin-right: 21px;
  }